body {
    font-family: 'verdana';
    color: rgb(0, 0, 0);
    background-color: rgb(199, 216, 253);
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    width: 50%;
    margin-left: 3em;
}

:is(h1, h2, h3) {
    margin-left: 3em;
}

ul {
    margin-left: 3em;
}

u {
    margin-left: 3em;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
    padding: 60px;
    max-height: 100%;
    font-family: 'impact';
    font-size: 30px;

}

nav a {
    text-decoration: none;
    transition: all 250ms ease;
}

nav a:hover {
    color: red;
    font-size: larger;
}
a{
    transition: all 250ms ease;
}

a:hover {
    color: red;
    font-size: larger;
}

header {
    background-color: white;
    margin-top: auto;
}

header img {
    position: absolute;
    height: auto;
    width: 7%;
    top: 1.5em;
    margin-left: 1em;
    transition: all 0.5s ease;
}
header img:hover{
    transform: scale(1.25);
}
article img {
    width: 30%;
    height: 30%;
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    transition: all 3s ease;
    margin-left: 3em;
}

article img:hover {
    transform: rotate(360deg);
}

h1 {
    width: 100%;
}

article {
    display: flex;
    flex-wrap: wrap;
}
article img{
    display: flex;
    align-items: flex-start;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 20%;
    margin-left: 3em;
}

section img {
    float: right;
    margin-right: 10em;
    width: 30%;
    height: 30%;
}

.gifje {
    float: right;
    margin-right: 20em;
    border: 5px solid black;
    border-radius: 100px;
}

